<h2>List of Beers</h2>

<div>
    {{#each beers}}
      {{> initials this}}
   {{/each }}
 </div>
    {{!-- <div class="card" style="width: 33.333%;">
  <img class="card-img-beer" src="{{this.image_url}}" alt="">
  <div class="card-body">
    
    <h3 class="card-title">{{this.name}}</h3>
    <h5 class="card-title">{{this.tagline}}</h5>
    <p class="card-text">{{this.description}}</p>
  </div>
</div> --}} 

{{!-- {{/eac}} --}}